@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');


:root {
    --primary-color:#60A5FA;
    --dark-gray: #9CA3AF;
    --off-white:#F3F4F6;
    --back-color:DodgerBlue;
    --tw-text-opacity: 1;
    --he-color:#6B7280;
    --h2-color:#4C1D95;
    --sec-color:#F87171;
}

body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/checkerboard-cross.png");
}

body h1{
    font-family: 'Castoro', serif;
    font-size: 52px;
    color: var(--back-color);

}

/* navigation */
.nav7 {
    background-color:var(--primary-color);
    color:white;
    padding:1rem;
    border-bottom-left-radius: 1rem;
}


.nav7-portfolio {
    font-weight: bold;
    font-size: 1.1rem;
    
}

.ul7 {
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    
}

.list7-item-inline {
    display:inline;
    padding:0rem , 0.5rem;
    
}

.link7 {
    text-decoration: none;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: white;

}

.link7:hover{
    color: black;
}

.projects7 {
    color: var(--h2-color);
}

.par {
    text-align: center;
    margin: 0;
    font-size: large;
    /* color: #Ecc19c; */
    /* color:#1e847f; */
    color: #45ada8;
}


/* header */
.header7 {
    padding: 2rem;
    padding-top: 6rem;
}

.header7 .img7 {
    width: 280px;
    margin: auto;
    border-radius: 50%;
    display: block;
}

.header7 .hd {
    color: var(--back-color);
    text-align: center; 

}

.footer {
    background-color: var(--primary-color);
    padding: 2rem 2rem;
    text-align: center;
    color: white;
    border-bottom-right-radius: 1rem;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large; 
}

.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}

.list1-item-inline {
    display:inline;
    padding:0.5rem;
    float:left;
    border-right: 1px solid #bbb; 
    
}

.link{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    
    

}

.secondary-link {
    color: var(--sec-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    
}

.list-non-bullet {
    list-style: none;
   
}

.list-item-inline {
    display:inline;
    padding:0rem , 0.5rem;
    
}

.primary-link:hover{
    background-color: tomato;
}

.hd {
    color: var(--back-color);
    text-align: center; 

}