@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');


:root {
    --primary-color:#60A5FA;
    --dark-gray: #9CA3AF;
    --off-white:#F3F4F6;
    --back-color:DodgerBlue;
    --tw-text-opacity: 1;
    --he-color:#6B7280;
    --h2-color:#4C1D95;
    --sec-color:#F87171;
}

body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/checkerboard-cross.png");
}

body h1{
    font-family: 'Castoro', serif;
    font-size: 52px;
    color: var(--back-color);

}

.nav7 {
    background-color:var(--primary-color);
    color:white;
    padding:1rem;
    border-bottom-left-radius: 1rem;
}
